<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="dir" value="${logDir:-logs}"/>
    <property name="fileName" value="${logFileName:-trace}"/>

    <property resource="logback.properties"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSSZ} %-5level [%X{transactionId}] [%logger{35}] [%thread] - %msg%exception%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${dir}/${fileName}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${dir}/${fileName}.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>100</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>30MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSSZ} %-5level [%X{transactionId}] [%logger{35}] [%thread] - %msg%exception%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ASYNCFILE" queueSize="500" discardingThreshold="0" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="ASYNCFILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>