build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar targetPath (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/.project
/build.gradle.siemens
/.gradle/
/.idea/
/**/*.iml
/build.gradle
/ee-asm/out/
/ee-design/out/production/classes/
/ee-design_gen/out/production/classes/
/ee-design_json/out/
/ee-design_swagger/out/
/ee-design_task/out/production/classes/
/ee-design_ui_des/out/production/classes/
/ee-design_ui_des_asm/out/production/classes/
/ee-design_xsd/out/
/ee-lang/out/
/ee-lang_fx/out/production/classes/
/ee-lang_gen/out/production/classes/
/ee-lang_item/out/
/ee-system/out/production/classes/
/ee-system_des/out/production/classes/
/ee-task/out/production/classes/
/ee-task_des/out/production/classes/
forks
/ee-lang/logs/
